body.gun {
    animation-name: rainbow;
    animation-duration: 64s;
    animation-iteration-count: infinite;
    background-color: darkred;
    color: white;
}

@keyframes rainbow {
    12.5% {
        background-color: darkorange;
    }
    
    25% {
        background-color: darkgoldenrod;
    }
    
    37.5% {
        background-color: darkgreen;
    }
    
    50% {
        background-color: darkcyan;
    }
    
    62.5% {
        background-color: darkblue;
    }
    
    75% {
        background-color: darkmagenta;
    }
    
    87.5% {
        background-color: darkviolet;
    }
}

a {
    color: lightskyblue;
}